# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log